<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <title>CONTACT</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="contact">
    <header class="header--horizontal">
        <nav>
            <ul>
                <li><a href="/">| Home |</a></li>
                <li><a href="/about">About |</a></li>
                <li><a href="/contact">Contac |</a></li>
                <li><a href="/music">Music |</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>Contact //</h1>
        <section>
            <h3>we are here</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1687550887312!5m2!1ses!2sar"
                width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

        <section>
            <h3>CONTACT INFO</h3>

            <article>

                <h4> Karen Blanche</h4>
                <p><b>email:</b><a> info@mysite.com</a>
                <p><b>phone:</b><a> 123-456-7890</a>

            </article>

            <article>

                <h4>BOOKING | Daniel Ku</h4>
                <p><b>email:</b><a> info@mysite.com</a>
                <p><b>phone:</b><a> 123-456-7890</a>
            </article>

            <article>

                <h4>LABEL | Wix Records, Jake Coldham</h4>
                <p><b>email:</b><a> info@mysite.com</a>
                <p><b>phone:</b><a> 123-456-7890</a>
            </article>

            <article>

                <h4>PR | That Girl Pr, Sarah Brookstone</h4>
                <p><b>email:</b><a> info@mysite.com</a>
                <p><b>phone:</b><a> 123-456-7890</a>
            </article>



        </section>


    </main>

</body>

</html>