<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <title>MUSIC</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="music">
    <header class="header--horizontal">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contac</a></li>
                <li><a href="/music">Music</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>

    <main>
        <h1>Music</h1>
        <nav>
            <h5>Direct Links</h5>
            <ul>
                <li><a href="#album">album</a></li>
                <li><a href="#Organic">video:organic love</a></li>
                <li><a href="#Street Light">video: street light</a></li>
            </ul>
        </nav>
        <section>
            <article id="album">
                <h4>album<br>twistn in my reality</h4>
                <img src="img/emilia-play-list.png" alt="emilia-play-list">
                <ol>
                    <li><i class="fas fa-play"></i>Organic love | 02:40</li>
                    <li><i class="fas fa-play"></i>Twist in my reality | 02:10</li>
                    <li><i class="fas fa-play"></i>Street light | 03:28</li>
                    <li><i class="fas fa-play"></i>Love don't live hereanymore (cover) | 03:49</li>
                </ol>
                <a href="#">Arriba</a>
            </article>
        </section>

        <section>
            <article id="Organic">
                <h4>video<br>organic love</h4>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="800" height="640"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Arriba</a>
            </article>
            
            <article id="Street Light">
                <h4>video<br>Street Light</h4>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Arriba</a>
            </article>
        </section>
    </main>
</body>

</html>