/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

:root{
    --tipografiaTitulos : 'Raleway', sans-serif;
    --tipografiaEmilia : 'work Sans', sans-serif;
    --tipografiaGeneral : 'Open Sans', sans-serif;
    --colorVerde : #44a391;
}


body{
    
    font-family: var(--tipografiaGeneral);
    margin: 0;
   
}

body a {
    text-decoration: none;
    
}

main{
    margin: 8px;
}

h1 {
    font-family: var(--tipografiaTitulos);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 85px;
}

section  h3{
    font-family: var(--tipografiaTitulos);
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 75px;
}


ul li{
    list-style: none;
}

ul , ol{
    padding-left: 0;
}

section p{
    line-height: 8px;
}

