.music main section ol li{
    list-style-type: decimal-leading-zero;
    
 }

 
 main nav ul a {
    padding-left: 30px;
    
    
}

main a {
    color: grey;
}



article ol{
    margin-left: 30px;
}

